.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;


}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


#menu,#sidebar,#mainbar
{

  height:600px;
  background-color:#e9ebee;
}
.navbar-header{
  color:white;
}
#header{
  background-color:#0404B4;
  line-height:20px;
}
.white-text
{
  color:white !important;
}
.img-logo{
  width:30px;
   height:30px;
  position: absolute;
  top:10px;
  left:10px;
}
.img-cmt{
  width:32px;
  height:32px;
  border-radius:50%;
}
.img-ajay{
  width:20px;
   height:20px;
  border-radius:50%;
}
.img-fb{
  width:50px;
   height:50px;
}
.btn-search{
  width:300px;
}
.btn-submit{
  background-color:grey;
  opacity:0.5;

}
.list-heading{
  padding-left:10px;
  padding-bottom:0;
  font-size: 12px;
  font-weight: bold;
  overflow:auto;
}
.span-cmt,.span-share{
  margin-left:15px;
  color:#B4B4BB;
}
.span-like{
  color:#B4B4BB;
}
.img-ppl{
  width:50px;
   height:50px;
  border-radius:50%;

}
.img-bottom{
  margin-top: 10px;
}
.img-icon{
  width:20px;
   height:20px;

}
#contain{
    overflow:auto;
}
.font-menu{
  font-size:12px;
  margin-top:0;
  margin-bottom: 0;
}
.font-cmt{
  font-size:12px;
  font-weight: bold;
}
.font-tym{
  color:#BDBDBF;
  font-size:11px;
}

.font-mn{
  font-size:14px;
  display:inline-block;
  color:blue !important;
  font-weight:bold;
  margin-left: 5px;
  margin-top: 5px;
}
.font-m{
  font-size:12px;
  display:inline-block;
  text-align: justify;
  color:blue !important;
  font-weight:bold;
  margin-left: 5px;
  margin-top: 5px;
}
.dots{
  font-size:18px;
  color:grey;
  text-align: right;
}
.para{
  font-size: 14px;
  text-align: justify;
  font-style: italic;
}
.pad-cmt{
  padding-top:2px;
  font-size: 12px;
}
.like-cmt{
  display: block;
}
.like-cmt a{
  font-weight: 400;
}
.tym-cmt{
  color:#BDBDBF;
  font-size:11px;
  float:left;
}
.status{
  color:#9898CD;
  font-size:12px;


}
.mar-cmt{
  position: relative;
  top:0px;
}
.style-cmt{
  display:inline;
  font-size:12px;
  padding-left: 7px;
  font-weight: 400;
}
.wri-cmt{
  width:200px;
  border-radius:2%;

}
#mainbar{
  overflow: auto;

}
#mainbar::-webkit-scrollbar {
    display: none;
}
#menu{
  overflow: auto;
}
#menu::-webkit-scrollbar {
    display: none;
  }
.font-gly{
  font-size:15px;
  color:skyblue;
}
.dot{
  width : 100px;
   overflow:hidden;
   display:inline-block;
   text-overflow: ellipsis;
   white-space: nowrap;
   padding-left: 5px;

}

.exp{
  display: inline-block;
  margin-left: 5px;
}
#menu .nav-stacked a:hover{
  background-color:white !important;
}
.media-cmt{
  overflow: hidden;
  zoom: 1;
}
.media-cmt {
  width: 10000px;
}
.media-cmt{
  display:table-cell;
  vertical-align:bottom;
}

footer{
  font-size: 12px;
  font-family:monospace;
  height:35px;
margin-top: 10px;
}
